.App {
  text-align: center;
}

.input {
  display: inline-block;
  width: 60%;
  margin: 16px auto;
  padding: 16px;
  text-align: center;
}

.output {
  display: inline-block;
  box-shadow: 2px 1px 2px 2px black;
  width: 60%;
  margin: 16px auto;
  padding: 16px;
  text-align: center;
}
